@import 'tailwindcss';

html {
  overflow-x: hidden;
}

body {
  font-family: 'Hanuman', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  h1 {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-lavender to-sky-blue;
  }
  h2 {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-sky-blue via-bright-violet to-lively-orange;
  }

  @keyframes quiet-wave {
    25% {
      transform: scaleY(0.6);
    }
    50% {
      transform: scaleY(0.4);
    }
    75% {
      transform: scaleY(0.8);
    }
  }

  @keyframes normal-wave {
    25% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.4);
    }
    75% {
      transform: scaleY(0.6);
    }
  }

  @keyframes loud-wave {
    25% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.4);
    }
    75% {
      transform: scaleY(1.2);
    }
  }
}

@layer components {
  .hot-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-pastel-gold via-lively-orange to-coral-red;
  }
  .cool-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-sky-blue via-royal-blue to-indigo;
  }

  .warm-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-fuchsia via-bright-violet to-lavender;
  }

  .faded-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-gray-300 via-gray-500 to-gray-700;
  }

  .editor-button {
    @apply px-4 py-2 bg-black text-white rounded-lg;
  }
}

@layer utilities {
  .custom-selection {
    @apply selection:bg-sky-blue selection:text-white;
  }

  .animate-quiet-wave {
    animation: quiet-wave 1.2s ease-in-out infinite;
  }

  .animate-normal-wave {
    animation: normal-wave 1.2s ease-in-out infinite;
  }

  .animate-loud-wave {
    animation: loud-wave 1.2s ease-in-out infinite;
  }
}

@theme {
  --color-indigo: #2c3186;
  --color-royal-blue: #4352da;
  --color-sky-blue: #0fd5f6;

  --color-lavender: #6f3fe0;
  --color-bright-violet: #b33ce0;
  --color-fuchsia: #e03c9e;

  --color-coral-red: #e04b57;
  --color-lively-orange: #fa743e;
  --color-pastel-gold: #ffc966;
}

/*
Breakpoint prefix	Minimum width	CSS
sm	40rem (640px)	@media (width >= 40rem) { ... }
md	48rem (768px)	@media (width >= 48rem) { ... }
lg	64rem (1024px)	@media (width >= 64rem) { ... }
xl	80rem (1280px)	@media (width >= 80rem) { ... }
2xl	96rem (1536px)	@media (width >= 96rem) { ... }
*/
